<body>
  <p>{{ 'hi' | gettext | instantiate | safe }}</p>

  <p>{{ 'thank_you' | gettext | instantiate | safe }}</p>

  <p>{{ 'session_curation_process' | gettext | instantiate | safe }}</p>

  <p>{{ 'your_session' | gettext | instantiate | safe }}</p>

  <p>{{ 'follow_curation' | gettext | instantiate | safe }}</p>

  <p>{{ 'github_video' | gettext | instantiate | safe }}</p>

  <p>{{ 'reach_out' | gettext | instantiate | safe }}</p>

  <p>{{ 'best_from_team' | gettext | instantiate | safe }}</p>

  <p>{{ 'ps' | gettext | instantiate | safe }}</p>
</body>
