<body>
  <p>Hi {{first_name}},</p>

  <p>Thank you for submitting a session proposal for MozFest!</p>

  <p>Our session curation process takes place on Github in the <a href="https://github.com/MozillaFoundation/mozfest-program-2017">MozFest 2017 Program repo</a>. Curation will begin in August when the Call for Proposals closes. In September, you'll be notified whether your session has been accepted or not.</p>

  <p>Your session is documented in this issue: <a href="{{ github_issue_url }}">{{ github_issue_title }}</a></p>

  <p>We encourage you to follow the curation process. You can chat with Space Wranglers (the people who curate sessions for each MozFest space), ask questions and develop your session with a network of collaborators in the comments section of your issue.</p>

  <p>If you're new to Github, this 45 second <a href="https://egghead.io/lessons/javascript-introduction-to-github">video</a> will walk you through signing up for a free account.</p>

  <p>Questions? Please reach out to <a href="mailto:festival@mozilla.org">festival@mozilla.org</a></p>

  <p>Best,
  <br />The MozFest Team</p>

  <p>PS - MozFest curation takes place in the open. This means some information, like your name and details about your proposed session, are visible in <a href="{{ github_issue_url }}">your Github ticket</a>. If you would like this information removed for privacy reasons, please let us know at  <a href="mailto:festival@mozilla.org">festival@mozilla.org</a></p>

</body>
