<p>Hi {{ email }} --</p>

<p>I want to thank you for your generous donation to Mozilla. Your support means so much to our organization, because you're helping us continue our mission to build and protect an open Web.</p>

<p>We believe the Internet is more than a technology; it's a public resource. It's a shared force for good.</p>

<p>Thanks again for all that you do to support Mozilla. Together, we will keep the Internet open, accessible, transparent and safe.</p>

<p>Mark Surman
<br>Executive Director
<br>Mozilla Foundation</p>

<p><strong>HERE IS OUR ACKNOWLEDGEMENT OF YOUR DONATION FOR YOUR RECORDS:</strong></p>

<p>On {{ transaction_date }} you made a charitable contribution to Mozilla Foundation of {{ bitcoin_amount }} bitcoins, which our bitcoin wallet provider valued at ${{ usd_amount}} USD. Mozilla Foundation did not provide any goods or services in return for your donation. Be sure to keep this email as evidence of your contribution; otherwise your contribution may not be tax-deductible.</p>

<p><strong>IMPORTANT TAX INFORMATION:</strong></p>

<p>The Mozilla Foundation is a California non-profit corporation exempt from United States federal income taxation under IRC 501(c)(3) and a public charity classified under IRC sections 170(b)(1)(A) and 509(a)(1). You may wish to consult a tax advisor about the tax consequences of gifts of bitcoin.</p>

<p>If you have questions, do not hesitate to check out <a href="https://wiki.mozilla.org/Donate">our FAQ</a> or contact us at <a href="donate@mozilla.org">donate@mozilla.org</a>.</p>
