<body>
  <p>{{ 'hi_username_or_there' | gettext | instantiate }}</p>

  <p>{{ 'p1WelcomeToMozillaWebmaker' | gettext }}</p>

  <p>{{ 'p2GetStarted' | gettext }}</p>

  <ul>
    <li>{{ 'li1Discover' | gettext | instantiate | safe }}</li>

    <li>{{ 'li2Create' | gettext | instantiate | safe }}</li>

    <li>{{ 'li3Share' | gettext | instantiate | safe }}</li>
  </ul>

  <p>{{ 'lastParagraph' | gettext | instantiate | safe }}</p>

  <p>{{ 'cheersWMCommunityMGR' | gettext | safe }}</p>

  <p>{{ 'psFollowUs' | gettext | safe }}</p>

  <p>******************************************************************</p>

  <p class="unsubscribe">{{ 'unsubscribe' | gettext | instantiate | safe }}</p>
</body>
