<body>
  <p>{{ 'hiNewUser' | gettext | instantiate }}</p>

  <p>{{ 'welcomeMozillaTools' | gettext }}</p>

  <ul>
    <li>{{ 'mozillaToolsThimble' | gettext | safe }}</li>
    <li>{{ 'mozillaToolsGoggles' | gettext | safe }}</li>
  </ul>

  <p>{{ 'mozillaLearningNetworkIntro' | gettext | safe }}</p>

  <p>{{ 'stayInTouchHeader' | gettext | safe }}</p>

  <ul>
    <li>{{ 'stayInTouchTwitter' | gettext | safe }}</li>
    <li>{{ 'stayInTouchThimble' | gettext | safe }}</li>
  </ul>

  <p>{{ 'closingParagraph' | gettext | safe }}</p>

  <p>*****</p>

  <p class="unsubscribe">{{ 'emailPreferences' | gettext | instantiate | safe }}</p>
</body>
