<body>
  <p>Hola, {{first_name}},</p>

  <p>¡Gracias por enviar tu propuesta de sesión para MozFest!</p>

  <p>Nuestro proceso de selección se desarrolla en GitHub en <a href="https://github.com/MozillaFoundation/mozfest-program-2017">el repositorio MozFest 2017 Program</a>. La selección comenzará en agosto cuando termine la recepción de propuestas. En septiembre se te notificará si tu sesión ha sido aceptada o no.</p>

  <p>Tu sesión está documentada en este ticket: <a href="{{ github_issue_url }}">{{ github_issue_title }}</a></p>

  <p>Te animamos a que sigas el proceso de selección. Puedes chatear con los Space Wranglers (las personas que organizan las sesiones para cada espacio de MozFest), hacer preguntas y desarrollar tu sesión con una red de colaboradores en la sección de comentarios de tu ticket.</p>

  <p>Si es tu primera vez en GitHub, <a href="https://egghead.io/lessons/javascript-introduction-to-github">este vídeo de 45 segundos</a> te mostrará cómo crear una cuenta gratuita.</p>

  <p>¿Alguna duda? Escribe a <a href="mailto:festival@mozilla.org">festival@mozilla.org</a></p>

  <p>Saludos,
  <br />El equipo de MozFest</p>

  <p>PS - El proceso de selección de MozFest se desarrolla de forma abierta. Esto significa que alguna información, como tu nombre y algunos detalles de tu sesión son visibles en <a href="{{ github_issue_url }}">tu ticket de GitHub</a>. Si por motivos de privacidad quieres eliminar esta información, escríbenos a <a href="mailto:festival@mozilla.org">festival@mozilla.org</a></p>
</body>
