<body>
  <p>Thank you for submitting your proposal for Mozfest 2015.</p>

  <p>Successful proposals will be announced in September 2015<br/>Keep up to date with other festival news by signing up for updates here: <a href="http://mozillafestival.org/">http://mozillafestival.org/</a> or send us an email if you have any questions about your submission or the festival at <a href="mailto:festival@mozilla.org">festival@mozilla.org</a></p>

  <p>You can tweet us too at @Mozillafestival using #MozFest.<br/>
  Tweet a hello or let us know about your session</p>

  <p>Good Luck!</p>
</body>
