<body>
  <p>{{'tb_first_paragraph' | gettext }}</p>

  <p>{{'tb_signature' | gettext }}</p>

  <hr>

  <p>{{'tb_transaction_receipt' | gettext }}</p>

  <p>{{name}}<br>
  {% if recurring_donation %} {{'tb_one_time_gift' | gettext }} {% else %} {{'tb_monthly_gift' | gettext }} {% endif %}
  {{amount}}<br>
  {{'transaction_id' | gettext | instantiate }}<br>
  {{address}}<br>
  {{city}} {{state}} {{zipcode}}<br>
  {{country}}</p>
  <p>

  <p>{{'tb_need_help' | gettext }}</p>

  {% if recurring_donation %}
    <p>{{ 'cancel_recurring_donation_email' | gettext }}</p>
  {% endif %}
  <hr>

  <p><em>{{'tb_footprints' | gettext }}</em></p>

  <p><em>{{'mozilla_foundation_tax_id' | gettext }}</em></p>
</body>
