{% extends "base/layout.html" %}
{% block body %}
<p>{{ 'hi_username_or_there' | gettext | instantiate }}</p>

<p>{{ 'r_u_a_e_1' | gettext }}<p>

<p><strong>{{ eventDate }}</strong><br>
<a href="{{ eventURL }}">{{ eventTitle }}</a><br>
{{ eventAddress }}</p>

<p>{{ eventDescription }}</p>

<p>{{ 'r_u_a_e_2' | gettext }}</p>
<p><strong>{{ organizerUsername }}</strong>
{% if organizerEmail %}
<br>{{ organizerEmail }}
{% endif %}
</p>

<p>{{ 'r_u_a_e_3' | gettext }}</p>

<p>Amira
<br>{{ 'Webmaker Community Manager' | gettext }}</p>
{% endblock %}
