<body>
  <p>{{ 'dear_name' | gettext | instantiate }}</p>

  <p>{{ 'first_paragraph_email' | gettext }}</p>

  <p>{{ 'second_paragraph_email' | gettext }}</p>

  <p>{{ 'third_paragraph_email' | gettext }}</p>

  <p>Mark Surman<br>
  {{ 'executive_director' | gettext }}<br>
  Mozilla Foundation</p>

  <hr>

  <p>{{ 'here_is_record' | gettext }}</p>

  <p>{{ 'gift_amount' | gettext | instantiate }}<br>
  {{ 'transaction_id' | gettext | instantiate }}</p>

  <p>{{name}}<br>
  {{address}}<br>
  {{city}} {{state}} {{zipcode}}<br>
  {{country}}</p>

  <hr>

  <p><em>{{ 'mozilla_contribution' | gettext }}</em></p>

  <p><em>{{ 'more_info_about_page' | gettext }}</em></p>

  <p><em>{{ 'mozilla_foundation_tax_id' | gettext }}</em></p>
</body>
