<body>
  <p>Hi {{first_name}},</p>

  <p>Thank you for submitting a session proposal to MozFest!</p>

  <p>Our session curation process takes place on Github in the MozFest 2016 Program repo. Curation will begin in August when the Call for Proposals closes. In September, you'll be notified whether your session has been accepted or not. </p>

  <p>Your session is documented in this issue: <a href="{{ github_issue_url }}">{{ github_issue_title }}</a></p>

  <p>If you're new to Github, don't be afraid! Sign yourself up for a free account and check out this tutorial to learn how to view and comment on issues.</p>

  <p>If you have questions, please reach out to <a href="mailto:festival@mozilla.org">festival@mozilla.org</a></p>

  <p>Best,
  <br />The MozFest Team</p>

</body>
