<body>
  <p>Just like you, thousands around the world are helping us continue
  our mission to keep the Web open and free. Every gift is so important. On
  behalf of all of us, thank you so much for your donation to Mozilla.</p>

  <p>To show our appreciation, we put together a little "Choose Your Own Thank You Adventure." We just couldn't decide on one best way to thank you for your support. So we created three ways and decided to let you choose whichever thank you <em>you</em> like.</p>

  <p><ul>
  <li><a href="https://donate.mozilla.org/jan-thank-you-superhero">Funny thank you</a></li>
  <li><a href="https://donate.mozilla.org/jan-thank-you-sincere">Sincere thank you</a></li>
  <li><a href="https://donate.mozilla.org/jan-thank-you-cute">Cute thank you</a></li>
  </ul></p>

  <p>Thanks again, and if you're not currently receiving emails from us, please do <a href="https://www.mozilla.org/newsletter">subscribe here.</a></p>

  <p>Sincerely, </p>

<p>- The Mozilla Team</p>

  <hr>

  <p>TRANSACTION RECEIPT FOR YOUR RECORDS:</p>

  <p>{% if recurring_donation %} Monthly {% else %} One-time {% endif %}
  gift amount: {{amount}}<br>
  Transaction ID: {{transaction_id}}<br>
  {{timestamp}}</p>

  <p>Do you have a question? Most common questions are answered in our
    <a href="https://donate.mozilla.org/faq/">donor FAQ</a>.</p>
    
  <p>Does your employer offer matching gifts? We would be happy to work with you to facilitate that process. 
    If you need assistance, please drop us a note at <a href="mailto:matching@mozilla.org">matching@mozilla.org</a>.</p>

  <p>If you still need help, please send an email to us at
  <a href="mailto:donate@mozilla.org">donate@mozilla.org</a>.
  We get lots of email, but we will do our best to respond within 72 hours.</p>

  {% if recurring_donation %}
    <p>If you would like to cancel your recurring donation, send your request in an email to donate@mozilla.org.</p>
  {% endif %}
  {% if livemode %}
  <hr>

  <p><em>Contributions go to the Mozilla Foundation, a 501(c)(3) organization, to be
  used in its discretion for its charitable purposes. They are tax-deductible in
  the U.S. to the fullest extent permitted by law. Mozilla did not provide any
  goods or services in return for this donation.</em></p>

  <p><em>Mozilla Foundation Tax ID 20-0097189</em></p>
  {% endif %}
</body>
